@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    font-size: 17px;
    padding: 0;
    margin: 0;
}

body{
     background-color: #ffffff;
}

.hero{
    height: 90vh;
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.hero-image{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.left a{
    text-decoration: none;
    list-style: none;
}

.gratuip-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    max-width: 90%;
}

.gratuip_left img{
    border-radius: 2rem;
}

.gratuip_right h2{
    font-size: 3rem;
    color: #F27C24;
}

.gratuip_right small{
    font-size: 1rem;
    color: gray;
}

.gratuip_right p{
    margin-top: 1rem;
    font-weight: 300;
    font-size: 1.1rem;
    list-style: none;
    text-decoration: none;
}

.gratuip_right a{
    list-style: none;
    text-decoration: none;
    font-weight: 700;
    color: #F27C24;
    cursor: pointer;
}

.gratuip_right h4{
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
}

.gratuip_right ul{
    list-style: none;
    margin: 1rem 0rem;
}

.gratuip_right li{
    border-bottom: #1548A3 solid 1px;
    font-weight: 300;
    padding: .5rem 0rem;
}

.gratuip_right li:hover{
    background-color: rgb(231, 227, 227);
    padding-left: .3rem;
    transform: translateX(0.3rem);
}

.who-container a{
    text-decoration: none;
    list-style: none;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    max-width: 85%;
}

.left h1{
    font-size: 3rem;
    line-height: 3rem;
    margin-top: 1rem;
    text-align: left;
    color: #1548A3;
}
.left p{
    font-size: 1rem;
    color: gray;
    margin-top: 1rem;
    font-weight: 300;
    width: 90%;
}

.newsletter{
    background-color: #0954d6;
    padding: 2rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.mailinglist{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    margin-top: .75rem;
    gap: .5rem;
}

.mailinglist button{
    background-color: #F27C24;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.mailinglist button:hover{
    background-color: #1548A3;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #fff;
}

.mailinglist input{
    padding: .75rem 1rem;
    border: none;
    width: 70%;
}

.mailinglist button{
    padding: .75rem 1rem;
    border: none;
}

.newsletter h3{
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
}

.button{
    background-color: #F27C24;
    width: fit-content;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    gap: 0.5rem;
    padding: .75rem 2rem;
    border-radius: 4rem;
    cursor: pointer;
}

.button:hover{
    background-color: #1548A3;
}

.button:hover span{
    transform: translateX(.5rem);
    transition: all ease-in-out .3s;
}

.button-two{
    background-color: #F27C24;
    width: fit-content;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
    gap: 0.5rem;
    padding: .75rem 3rem;
    border-radius: 4rem;
    cursor: pointer;
}

.button-two:hover{
    background-color: #1548A3;
}



.button p{
    color: white;
    font-size: 1rem;
    letter-spacing: 0rem;
    font-weight: 500;
}

.navbar{
    width: 100%; 
    /* height: 4rem; */
    margin: 0 auto;
    background-color: #fff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: .25rem 0rem;
    z-index: 1000;
}

.navbar button{
    background-color: #F27C24;
    color: #fff;
    border: none;
    padding: .75rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
}

.navbar button:hover{
    background-color: #051530;
    color: #fff;
    border: #F27C24 solid 1px;
    padding: .75rem 2rem;
    border-radius: 2rem;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navbar ul li{
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;
}

.navbar ul li:hover{
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;
    color: #F27C24;
    transform: translateY(-0.2rem);
    transition: all ease-in-out .3s;
}

.navcontent{
    /* background-color: #051530; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navcontent a{
    text-decoration: none;
    list-style: none;
    color: #1548A3;
    font-weight: 500;
}

.gratuip{
    color: #F27C24;
}

.whoweare{
    padding: 4rem 0rem;
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.mainintro{
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
}   

.who-container{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.who-container h4{
    color: #F27C24;
    font-weight: 500;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 1rem;
}

.mainbox{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.box{
    width: 50px;
    height: 50px;
    background-color: #F27C24;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.who-container p{
    color: #000;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.4rem;
}

.quickfacts{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

.quickfactsnew{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.quick{
    background-color: #F27C24;
    padding: 2rem;
}

.quickies{
    background-color: #d9d9d9;
    padding: 3rem;
    border-right: solid 1px white;
    border-left: solid 1px white;
}

.quickies:first-child{
    background-color: #1548A3;
    border-left: none;
}

.quickies:last-child{
    border-right: none;
}

.quickies:first-child h4{
    color: #fff;
}

.quickies:first-child p{
    color: #fff;
}

.quickiesone{
    width: 100%;
    background-color: white;
}

.quickies h4{
    color: black;
    font-size: 4rem;
    text-align: center;
    font-weight: 800;
}

.quickies p{
    color: #1548A3;
    font-size: 1rem;
    text-align: center;
}

.serviceintro{
    background-image: url('../images/bghome.png');
    background-position: center;
    background-size: cover;
}

.serviceintropage{
    max-width: 60%;
    margin: 0 auto;
    padding: 3rem 0rem;
}

.serviceintropage p{
    font-weight: 400;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}


.about-header{
    padding-top: 6rem;
    background-color: #1548A2;
    height: 70vh;
}

.header-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    max-width: 90%;
    margin: 0 auto;
    height: 100%;
    padding: 3rem 0rem;
}

.header-wrapper-two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    max-width: 90%;
    margin: 0 auto;
    height: 100%;
}

.header-wrapper-two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    max-width: 90%;
    margin: 0 auto;
    height: 100%;
    padding: 3rem 0rem;
}

.subtext-services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

}

.about-half-one h3{
    color: #F27C24;
    font-weight: 800;
    font-size: 2.5rem;
}

.about-half-one p{
    color: #fff;
    font-weight: 200;
    font-size: 1.1rem;
    padding-right: 5rem;
}

.service-body{
    padding: 2rem;
    border: 1px solid #F27C24;

}

.service-body a{
    text-decoration: none;
    list-style: none;
    color: #F27C24;
}

.service-body p{
    font-weight: 300;
}

.service-body:hover{
    border: solid 1px #1548A3;
    background-color: rgb(216, 224, 255);
}

.service-body h4{
    margin-top: 1rem;
    cursor: pointer;
}

.service-body h4:hover{
    transform: translateY(-0.25rem);
    transition: all ease-in-out .3s;
}

.about-half-two{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: 80%;
    background-image: url('../images/about-image.png');
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
}

.about-half-three{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-image: url('../images/products-card.png');
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
}

.about-half-service{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-image: url('../images/services-card.png');
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
}

.products-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: 80%;
    /* background-image: url('../images/products.png');
    background-position: center;
    background-size: cover; */
    background-color: #1548A3;
    padding-top: 6rem;
}

.about-half-two-three img{
width: 50%;
}

.mainproducts h3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.products p{
    background-color: rgb(193, 189, 189);
    padding: 2rem;
    border-left: #1548A3 1pc solid;
    font-size: 1.1rem;
    font-weight: 300;
}

.mainproducts{
    max-width: 90%;
    margin: 4rem auto;
}

.about-half-two p{
    z-index: 1000;
    background-color: #F27C24;
    padding: 1rem 2rem;
    margin-left: -1rem;
    margin-bottom: -1rem;
    border-radius: 2rem;
    color: white;
    cursor: pointer;
}

.about-half-two p:hover{
    background-color: #051530;
    transform: translateX(-1rem);
    animation-duration: .3s;
    transition: all ease-in-out .3s;
}

.about-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content{
    background-color: white;
    width: 100%;
}

.header-content-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 90%;
    margin: 0 auto;
    padding: 3rem 0rem;
}

.sub p{
    font-size: 1rem;
    font-weight: 600;
}

.about-content-one h4{
    font-size: 1.5rem;
    font-weight: 800;
    color: #1548A3;
    margin-top: 1rem;
    padding-right: 3rem;
}

.contactshead{
    color: white;
    margin: 1rem 0rem;
    width: 80%;
    font-size: 1.2rem;
}

.subcontacts{
    background-color: #fff;
    padding: 2rem;
}

.subcontacts p{
    margin-bottom: 1rem;
}

.subcontacts h3{
    color: #1548A3;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact-form input{
    padding: .75rem 1rem;
    background-color: lightgray;
    border: none;
}

.contact-form textarea{
    padding: .75rem 1rem;
    background-color: lightgray;
    border: none;
    height: 150px;
}

.bitbutton{
    padding: .75rem 1rem;
    border: none;
    background-color: #F27C24;
    color: #fff;
    cursor: pointer;
}

.bitbutton:hover{
    background-color: #1548A3;
}

.subtext p{
    color: rgb(85, 84, 84);
    font-weight: 300;
}

@media screen and (max-width: 960px) {
    .header-wrapper {
    display: flex;
    flex-direction: column;
  }
  .about-half-one h3{
    color: #F27C24;
    font-weight: 800;
    font-size: 2rem;
}
.about-half-one p{
    color: #fff;
    font-weight: 200;
    font-size: 1rem;
    padding-right: 1rem;
}
.about-half-two p{
    z-index: 1000;
    background-color: #F27C24;
    padding: 1rem 1rem;
    margin-left: -1rem;
    margin-bottom: -1rem;
    border-radius: 2rem;
    color: white;
    cursor: pointer;
}
.header-content-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 90%;
    margin: 0 auto;
    padding: 3rem 0rem;
}
}

.bottoms_copyright{
    background-color: #1548A3;
    width: 100%;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-wrapper{
    background-color: white;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
}

.copyright h3{
    color: #1548A2;
    margin-bottom: .5rem;
}

.images_social{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}


.services-content-wrapper{
    width: 90%;
    margin: 5rem auto;
}

.service-body{
    text-align: center;
}

.service-body img{
    margin-bottom: 1rem;
}

.detailed-content{
    max-width: 90%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    font-weight: 300;
}

.reachout{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    margin-top: -5rem;
    background-color: #F27C24;
    padding: 2rem;
}

.reachout input{
    padding: .75rem 1rem;
    background-color: #fff;
    border: none;
}

.reachout textarea{
    padding: .75rem 1rem;
    background-color: #fff;
    border: none;
}

.reachout button{
    padding: .75rem 1rem;
    background-color: #1548A3;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.reachout input:focus{
    outline: none;
}

.subtext-services a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.services_subs{
    background-color: #ebebec;
    padding: 1rem;   
    border-right: #1548A3 solid 1px; 
}

.main-services a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.main-services{
    max-width: 90%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    transition: all ease-in-out .3s;
}

.services_subs:hover{
    border-left: #1548A3 solid 10px;
    padding-left: 2rem;
    transition: all ease-in-out 3s;
    border-right: none; 
}

.services_subs p{
    font-weight: 300;
    padding: .5rem 0rem;
}

.services_subs h5{
    color: #F27C24;
}

.services_subs h4{
    color: #1548A3;
}

/* LOGO SLIDERS */
@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  /* .logos:hover .logos-slide {
    animation-play-state: paused;
  } */
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }