{% extends 'base.html'%}
{% load static %}

{% block title %}
    About Us
{% endblock %}


{% block content %}

    <section class="about-header">
        <div class="header-wrapper">
        <div class="about-half-one" data-aos="fade-up">
            <h3 data-aos="fade-up">About Us</h3>
            <p data-aos="fade-up">EMTech specializes in Software Development, finance and banking Solutions Integrations, Project Delivery & IT infrastructure support in the verticals of Banking, finance and Public sector.</p>
        </div>
        <div class="about-half-two">
            <div class="sub">
                <p>DOWNLOAD COMPANY PROFILE</p>
            </div>
        </div>
    </div>
    </section>


    <section class="about-content">
        <div class="header-content-wrapper">
        <div class="about-content-one" data-aos="fade-up">
    <img src="{% static 'images/mark.svg' %}"  alt="hero-image" width="100" data-aos="fade-up"/>
            <h4>
                We understand that each client has unique needs and we work with them to define and plan a business optimization service model that suits their evolving requirements. 
            </h4>
        </div>
        <div class="about-content-two">
            <div class="subtext">
                {% for abt in about %}
                <div data-aos="fade-up" class="about-body">
                    <p  data-aos="fade-up">{{ abt.body | safe }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </section>

  
  

    {% comment %} quicks {% endcomment %}
    <section class="quickiesone">
    <div class="quickfactsnew">
             {% for quick in quickfacts %}
                <div data-aos="fade-up" class="quickies">
                    <h4>{{ quick.numbers }}</h4>
                    <p>{{ quick.body }}</p>
                </div>
                {% endfor %}
        </div>
    </section>

    

 
    
{% endblock %}