<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  </head>
  <body>
    <div class="navbar" data-aos="fade-down">
      <div class="navcontent">
      <div class="logo" data-aos="fade-down">
         <img src="{% static 'images/emtech_color_logo.png' %}" width="100px" data-aos="fade-up"/>
      </div>
      <ul>
        <a href="{% url 'home' %}"><li>Home</li></a>
        <a href="{% url 'about' %}"><li>About</li></a>
        <a href="{% url 'home' %}"><li>Services</li></a>
        <a href="{% url 'home' %}"><li>Products</li></a>
        <a href="{% url 'home' %}"><li>Contacts</li></a>
        <a href="{% url 'home' %}"><li class="gratuip">GRATUIP</li></a>
      </ul>
    </div>
    </div>
    {% comment %} MAIN BODY {% endcomment %} 
    {% block content%} 
    
    {% endblock %}
    {% comment %} END BODY {% endcomment %}
    <section class="footer">
      <div class="location-wrapper">
        <div class="copyright">
          <h3>FIND US</h3>
          <p>3rd Floor, Samtech business park, Tatu city</p>
          <p>P.O. Box 11001 - 00100,Nairobi Kenya.info@emtechhouse.co.ke</p>
          <div class="images_social">
            <img src="{% static 'images/WhatsApp.svg' %}" width="30px" data-aos="fade-up"/>
            <img src="{% static 'images/LinkedIn.svg' %}" width="30px" data-aos="fade-up"/>
            <img src="{% static 'images/Facebook.svg' %}" width="30px" data-aos="fade-up"/>
          </div>
        </div>
      </div>
      <div class="bottoms_copyright">&copy; Copyright, 2023 E&M Technology House Ltd. All rights reserved.</div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
