{% extends 'base.html'%}
{% load static %}

{% block title %}
    Contact Us
{% endblock %}


{% block content %}

    <section class="contacts-header">
        <div class="header-wrapper-two">
        <div class="about-half-one" data-aos="fade-up">
            <h3 data-aos="fade-up">Contacts</h3>
            <h4 class="contactshead">Research has shown that most organization are only able to get maximum of 60% out of the software product they have implemented</h4>
            <p data-aos="fade-up">EMtechhouse has been founded to focus and address this issue to ensure that clients are able to utilize their implemented solutions to the maximum while minimizing on the operational cost.</p>
        </div>
        <div class="contacts-half-two" data-aos="fade-up">
            
        </div>
    </div>
    </section>

    


    <section class="about-content">
        <div class="header-content-wrapper">
        <div class="about-content-one" data-aos="fade-up">
            <h4>FIND US
            </h4>
            <p>3rd Floor, Samtech business park, Tatu city,P.O. Box 11001 - 00100,Nairobi Kenya.info@emtechhouse.co.ke</p>
        </div>

        


        <div class="about-content-two">
            <div class="subcontacts" data-aos="fade-up">
                <h3>CONTACT US</h3>
                <p>Please fill the form below to reach us!</p>
                <form class="contact-form" data-aos="fade-up">
                    <input type="text" placeholder="Enter Name" required/>
                    <input type="email" placeholder="Enter Email Address" required/>
                    <input type="phone" placeholder="Enter Phone Number" required/>
                    <textarea placeholder="Enter Message" required></textarea>
                    <button class="bitbutton" rows="6" cols="50">SEND MESSAGE</button>
                </form>
            </div>
        </div>
    </div>
    </section>

    <section class="mapsarea" data-aos="fade-up">
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.041144007071!2d36.91171507436023!3d-1.1309096354747694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f39b8a6b3ac39%3A0xe3bf8738c68f57b3!2sSamtech%20Business%20Park!5e0!3m2!1sen!2ske!4v1716436168249!5m2!1sen!2ske" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

  
  

    {% comment %} quicks {% endcomment %}
    <section class="quickiesone">
    <div class="quickfactsnew">
             {% for quick in quickfacts %}
                <div data-aos="fade-up" class="quickies">
                    <h4>{{ quick.numbers }}</h4>
                    <p>{{ quick.body }}</p>
                </div>
                {% endfor %}
        </div>
    </section>

    <section class="newsletter">
        <h3>Join Our Mailing List</h3>
        <p>Subscribe to get updates from E&M Technologies Ltd.</p>
        <forms class="mailinglist">
            <input type="email" placeholder="Enter Email to Subscribe" required />
            <button type="submit">SUBSCRIBE</button>
        </forms>
    </section>

 
    
{% endblock %}