{% extends 'base.html'%}
{% load static %}

{% block title %}
Gratuip
{% endblock %}


{% block content %}

<section class="about-headers">
    <div class="header-wrapper">

    </div>
</section>


<section class="about-content">
    <div class="gratuip-content-wrapper">
        <div class="gratuip-content-one" data-aos="fade-up">

            <h4>
                E and M Technology House:<br> Empowering Africa's Tech Future
            </h4>
            <p>
                E and M Technology House is a pioneering technology company that has been at the forefront of driving
                innovation and digital transformation in Africa. Founded with a mission to bridge the technology gap and
                empower local talent, the company has established itself as a trusted partner for leading organizations
                across various sectors, particularly in the banking and financial services industry.</p>
        </div>
    </div>
</section>

<section class="maincore">
    <div class="maincore-wrapper">
        <h1>Expanding Horizons: <br>From Core Banking to Comprehensive IT Solutions</h1>
        <div class="core">
            <div>
                <h4>Core Competencies</h4>
                <p>E and M Technology House has a strong foundation in core banking systems, having developed robust and
                    secure solutions that have transformed the way financial institutions operate. Their expertise in
                    this
                    domain has been a key driver of their success and has paved the way for their expansion into broader
                    IT
                    services.</p>
            </div>
            <div>
                <h4>Diversified Offerings</h4>
                <p>Over the years, the company has evolved to provide a comprehensive suite of IT solutions, catering to
                    a
                    wide range of industries. From enterprise software development to cloud computing and cybersecurity,
                    E
                    and M Technology House has leveraged its deep technical knowledge and customer-centric approach to
                    deliver innovative solutions that address the unique challenges faced by its clients.</p>
            </div>
            <div>
                <h4>Strategic Partnerships</h4>
                <p>Recognizing the value of collaboration, E and M Technology House has forged strategic partnerships
                    with
                    leading global technology companies. These partnerships have enabled the company to access
                    cutting-edge
                    technologies, industry best practices, and a vast network of resources, further strengthening its
                    ability to deliver world-class solutions to its clients.</p>
            </div>
        </div>
    </div>
</section>
<img src="{% static 'images/bgtalent.png' %}" alt="talent-image" width="100%" data-aos="fade-up" />
<section class="maincore-two">
    <div class="maincore-wrapper">
        <h1>GRATUIP: <br> Bridging the Talent Gap in Africas</h1>
        <div class="core">
            <div>
                <h4>Concept and Objectives</h4>
                <p>GRATUIP, the company's flagship training initiative, was born out of a deep understanding of the need
                    to develop local talent and integrate them into the global technology ecosystem. The program aims to
                    empower aspiring technologists, equipping them with the skills and knowledge required to thrive in
                    the rapidly evolving digital landscape.</p>
            </div>
            <div>
                <h4>Talent Development</h4>
                <p>By providing comprehensive training, mentorship, and hands-on experience, GRATUIP is bridging the gap
                    between the demand for skilled professionals and the available talent pool in Africa. The program's
                    holistic approach ensures that participants not only acquire technical expertise but also develop
                    the soft skills and entrepreneurial mindset needed to succeed in the industry.</p>
            </div>
            <div>
                <h4>Global Integration</h4>
                <p>E and M Technology House's long-term vision for GRATUIP is to seamlessly integrate the program's
                    graduates into the global technology ecosystem. Through strategic partnerships with leading tech
                    companies and institutions, the company is creating pathways for its participants to access
                    international opportunities, fostering a truly borderless future for African talent.</p>
            </div>
        </div>
    </div>
</section>

<section class="maincore-three">
    <div class="side-image"></div>
    <div class="maincore-wrapper-three">
        <h1>Empowering Minds, Shaping Futures: <br>The GRATUIP Curriculum</h1>
        <div class="core-three">
            <div>
                <h4>Comprehensive Curriculum</h4>
                <p>The GRATUIP training program is designed to provide a comprehensive education, covering a wide range
                    of topics, from foundational programming concepts to advanced technologies and industry-specific
                    applications. The curriculum is constantly evolving to keep pace with the rapidly changing tech
                    landscape, ensuring that participants are equipped with the most relevant and in-demand skills.</p>
            </div>
            <div>
                <h4>Hands-on Learning</h4>
                <p>Beyond theoretical knowledge, GRATUIP emphasizes practical, hands-on learning experiences.
                    Participants engage in real-world projects, collaborate on team-based challenges, and have the
                    opportunity to work with cutting-edge technologies under the guidance of experienced mentors and
                    industry experts.</p>
            </div>
            <div>
                <h4>Personalized Mentorship</h4>
                <p>The program's mentorship component is a key differentiator, providing participants with personalized
                    guidance and support from seasoned professionals. These mentors share their expertise, offer career
                    advice, and help participants navigate the complexities of the tech industry, ensuring a
                    well-rounded learning experience.</p>
            </div>
            <div>
                <h4>Global Partnerships</h4>
                <p>GRATUIP has forged partnerships with leading global technology companies and institutions, allowing
                    participants to engage with industry leaders, access exclusive resources, and gain exposure to
                    international best practices. This global collaboration further enhances the program's ability to
                    prepare its graduates for success in the global tech landscape.</p>
            </div>
        </div>
    </div>
</section>


{% comment %} quicks {% endcomment %}
<section class="quickiesone">
    <div class="quickfactsnew">
        {% for quick in quickfacts %}
        <div  class="quickies">
            <h4>{{ quick.numbers }}</h4>
            <p>{{ quick.body }}</p>
        </div>
        {% endfor %}
    </div>
</section>


<section class="newsletter">
    <h3>Join Our Mailing List</h3>
    <p>Subscribe to get updates from E&M Technologies Ltd.</p>
    <forms class="mailinglist">
        <input type="email" placeholder="Enter Email to Subscribe" required />
        <button type="submit">SUBSCRIBE</button>
    </forms>
</section>


{% endblock %}