{% extends 'base.html'%}
{% load static %}

{% block title %}
    Home
{% endblock %}


{% block content %}
    <section class="hero">
        <div class="left">
        <h1 data-aos="fade-down">End to End Finance and Banking Solutions </h1>
         <p data-aos="fade-up-left">
            We Offer Support for Banking, Finance and Public Sector
        </p>
        <div class="button" data-aos="fade-up-left">
            GET IN TOUCH
            <span class="material-symbols-outlined">
            arrow_circle_right
            </span>
        </div>
    </div>
    <img src="{% static 'images/homebg-min.png' %}" class="hero-image" alt="hero-image" width="100%" data-aos="fade-up"/>
    <div class="right">
         
    </div>
    </section>

    {% comment %} intro {% endcomment %}
    <section class="whoweare">
        <div class="mainbox">
                <div class="box" data-aos="zoom-in-down" data-aos-once="false"></div>
            </div>
        <div class="who-container">
            
            {% for who in whoweare %}
                <div data-aos="fade-up">
                    <h4>{{ who.title }}</h4>
                    <p>{{ who.body }}</p>
                </div>
                {% endfor %}

            <div class="button-two" data-aos="fade-up-left">
            READ MORE
            </div>
        </div>
    </section>

    {% comment %} quicks {% endcomment %}
    <section class="quickiesone">
    <div class="quickfactsnew">
             {% for quick in quickfacts %}
                <div data-aos="fade-up" class="quickies">
                    <h4>{{ quick.numbers }}</h4>
                    <p>{{ quick.body }}</p>
                </div>
                {% endfor %}
        </div>
    </section>

    <section class="serviceintro">
        <div class="serviceintropage">
            {% for intro in serviceintro %}
                <div data-aos="fade-down" >
                    <p>{{ intro.body }}</p>
                </div>
                {% endfor %}
        </div>
    </section>

    <img src="{% static 'images/businemmen.png' %}" width="40%" data-aos="fade-up"/>

    
{% endblock %}